In [6]:
import pandas as pd
from typing import List

# Leetcode problems:

### 1. Create Dataframe from list
Write a solution to create a DataFrame from a 2D list called student_data. This 2D list contains the IDs and ages of some students.

The DataFrame should have two columns, student_id and age, and be in the same order as the original 2D lis

In [9]:
def createDataframe(student_data: List[List[int]]) -> pd.DataFrame:
    columns = ["student_id", "age"]
    frame = pd.DataFrame(student_data, columns=columns)
    return frame



#call function
student_data = [
    [1, 19],  # Student ID 1, Age 19
    [2, 20],  # Student ID 2, Age 20
    [3, 18]   # Student ID 3, Age 18
]

createDataframe(student_data)

   student_id  age
0           1   19
1           2   20
2           3   18

### 2. Get the size of data-frame

In [ ]:
Write a solution to calculate and display the number of rows and columns of data.

In [14]:
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'Salary': [50000, 60000, 70000]}
df = pd.DataFrame(data)

# Total number of elements
total_elements = df.size

# Number of rows and columns
rows, columns = df.shape

# Number of rows
num_rows = len(df)

# Number of columns
num_columns = len(df.columns)


print(f"Total elements: {total_elements}")
print(f"Dimensions (rows, columns): {rows}, {columns}")
print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_columns}")

Total elements: 9
Dimensions (rows, columns): 3, 3
Number of rows: 3
Number of columns: 3